artifactory-maven-plugin-example filter=lfs diff=lfs merge=lfs -text
maven-example filter=lfs diff=lfs merge=lfs -text
sbt-example filter=lfs diff=lfs merge=lfs -text
python-example filter=lfs diff=lfs merge=lfs -text
gitlabci-example filter=lfs diff=lfs merge=lfs -text
gradle-examples filter=lfs diff=lfs merge=lfs -text
ivy-example filter=lfs diff=lfs merge=lfs -text
msbuild-example filter=lfs diff=lfs merge=lfs -text
openshift-examples filter=lfs diff=lfs merge=lfs -text
openshift-s2i-examples filter=lfs diff=lfs merge=lfs -text
CONTRIBUTING.md filter=lfs diff=lfs merge=lfs -text
artifactory-client-java-examples filter=lfs diff=lfs merge=lfs -text
cpp-example filter=lfs diff=lfs merge=lfs -text
jenkins-examples filter=lfs diff=lfs merge=lfs -text
msbuild-plugin-example filter=lfs diff=lfs merge=lfs -text
golang-example filter=lfs diff=lfs merge=lfs -text
kubernetes-example filter=lfs diff=lfs merge=lfs -text
maven-example-bintray-info filter=lfs diff=lfs merge=lfs -text
README filter=lfs diff=lfs merge=lfs -text
bash-example filter=lfs diff=lfs merge=lfs -text
build-info-java-example filter=lfs diff=lfs merge=lfs -text
circleci-example filter=lfs diff=lfs merge=lfs -text
droneci-examples filter=lfs diff=lfs merge=lfs -text
nuget-example filter=lfs diff=lfs merge=lfs -text
